<div class="addResource-wrap">
    <div class="line-3">
        <label>硬盘空间：</label>
        <input class="inputdisk" placeholder="请输入大于<%=nowdisk%>的值">
        <label>G</label>
    </div>
    <div class="line-4">
        <label>申请理由：</label>
        <textarea class="inputreason" placeholder="请输入少于20个字符的理由"/>
    </div>
</div>